
@import 'src/styles/vars.scss';

:local {
  $colorWater: #09f;
  $colorDefer: #888;

  li.wrap {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 250px;
    margin: 0 10px 10px 0;
    padding: 25px;
    background-color: white;
    border: 1px solid rgba(0, 50%, 25%, 0.125);
    border-radius: 10px;

    &.hasImage {
      padding-top: 200px;
    }

    div.wrapImage {
      position: absolute;
      left: 0;
      top: 0;
      height: 185px;
      overflow: hidden;

      img {
        width: 100%;

      }
    }

    div.wrapActions {
      margin-top: 15px;

      button {
        display: block;
        border: 2px solid $colorHighlight;
        color: $colorHighlight;
        padding: 8px 10px;
        border-radius: 4px;
        width: 100%;
        margin-top: 10px;

        &:active {
          color: white;
          background-color: $colorHighlight;
        }

        &.water {
          border-color: $colorWater;
          color: $colorWater;

          &:active {
            color: white;
            background-color: $colorWater;
          }

        }

        &.defer {
          border-color: $colorDefer;
          color: $colorDefer;

          &:active {
            color: white;
            background-color: $colorDefer;
          }

        }

      }
    }

    div.wrapEditBtn {
      position: absolute;
      top: 0px;
      right: 0px;

      button {
        color: white;
        background-color: $colorHighlight;
        border: none;
        margin: 0;
        padding: 5px 8px;

        &:active {
          background-color: transparent;
          color: $colorHighlight;
        }
      }
    }

    h4 {
      margin: 0 0 2px 0;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 0.01em;
      font-weight: 700;
      color: #838c83;

      & + p {
        margin: 0 0 1em 0;
      }
    }

  }

}
