@use 'styles/colors';

.wrap {

  $colorWater: #6bc;
  $colorOverdue: #c73;
  $colorDefer: #da0;
  $colorDone: #bc6;
  $colorDisabled: #9aa;

  border: 1px solid #eee;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.025);

  &.dueToday {
    background-color: transparentize($colorWater, 0.85);
    .nextWaterDate {
      font-weight: bold;
      color: $colorWater;
    }
  }

  &.overdue {
    background-color: transparentize($colorOverdue, 0.85);
    .nextWaterDate {
      font-weight: bold;
      color: $colorOverdue;
    }
  }

  &.wateredToday {
    background-color: transparentize($colorDone, 0.85);
    .lastWaterDate {
      font-weight: bold;
      color: $colorDone;
    }
  }

  img.plantImg {
    width: 100%;
    object-fit: cover;
    height: 200px;
  }

  .wrapActions {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    button {
      display: block;
      flex-grow: 1;
      flex-basis: 50%;

      appearance: none;
      padding: 7px 0;
      border: 2px solid black;
      border-radius: 7px;

      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: bold;
      font-size: 12px;

      &.waterBtn {
        border-color: $colorWater;
        color: $colorWater;
        background-color: transparentize($colorWater, 0.85);

        &:active {
          background-color: $colorWater;
          color: white;
        }

      }

      &.deferBtn {
        border-color: $colorDefer;
        color: $colorDefer;
        background-color: transparentize($colorDefer, 0.85);

        &:active {
          background-color: $colorDefer;
          color: white;
        }
      }

      &[disabled] {
        pointer-events: none;
        opacity: 0.5;
        border-color: $colorDisabled;
        color: $colorDisabled;
        background-color: transparentize($colorDisabled, 0.85);
      }

    }

  }

}
