
@import '~/src/styles/vars';

:local {

  div.wrap {

    h2 {
      margin-top: 25px;
    }

    table.plants {
      border-collapse: collapse;

      tr {
        &.dueToday {
          background-color: #d6ecf6;
          color: #578;
        }
        &.overdue {
          background-color: #fff3dd;
          color: #b83;
        }
      }

      td, th {
        border: 1px solid #ccc;
        padding: 5px 10px;
      }

    }

  }

}
