@use 'styles/colors';

.wrap {

  .wrapAdd {
    margin-bottom: 25px;
  }

  ul.plants {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
      display: inline-block;
      flex-basis: 320px;
    }

  }

}
