
@import 'src/styles/vars.scss';

:local {

  div.wrap {

    .image {
      max-width: 100%;
      img {
        max-width: 100%;
      }
    }

    input[type='file'] {
      display: none;
    }

    label.upload {
      cursor: pointer;
      border: none;
      background-color: white;
      outline: none;
      font-family: $fontSans;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      font-weight: 700;
      font-size: 11px;
      border: 2px solid $colorHighlight;
      color: $colorHighlight;
      padding: 6px 10px;
      border-radius: 4px;
    }

  }

}
