
@import '~/src/styles/vars';

:local {

  div.wrap {

    table.plants {
      border-collapse: collapse;

      td, th {
        border: 1px solid #ccc;
        padding: 5px 10px;
      }

    }

  }

}
