
@import '~/src/styles/vars';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $fontSans;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h2 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h3, h4, h5, h6, th, td, p {
  font-size: 14px;
}


button {
  cursor: pointer;
  background-color: white;
  outline: none;
  border: 2px solid $colorHighlight;
  color: $colorHighlight;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: $fontSans;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 700;

  &:hover {
    background-color: $colorHighlight;
    color: white;
  }

  &:active {
    background-color: $colorHighlight;
    color: mix($colorHighlight, white, 50%);
  }


}
