
// Z-indexes
$zModal: 100;

// Fonts

$fontSans:
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol';

$fontMono:
  'Roboto Mono',
  monospace;


// Colors

$colorHighlight: #f55;
$colorOverlay: rgba(black, 0.85);
