
@import 'src/styles/vars.scss';

:local {

  div.wrap {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    ul.nav {
      display: flex;
      align-items: center;
      padding: 0;
      list-style: none;
      margin-left: 50px;

      li {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.05em;

        & + li {
          margin-left: 15px;
        }

        a {
          color: #666;
          text-decoration: none;
        }

        &.selected {
          a {
            color: $colorHighlight;
            text-decoration: none;
          }
        }

      }

    }

  }

}
